.panel
{
	border:1px solid black !important;
	border-radius: 0px
}
a{
	color: #cf8511;
}
.panel-footer {
	background-color: #1D1D1C;
    #border-bottom-right-radius: 0px !important;
    #border-bottom-left-radius: 3% !important;
    border-radius: 0;
}

body{
	background-color: #1D1D1C;
}
i{
	color: #757266;
}
.panel:hover > .panel-footer{
	background-color: black;
}
.panel:hover  a{
	color: white !important;
}
.row.dropdown-menu {
    opacity: 0.8;
    background: #f5f5f5;
}
.navbar-inner.bg-success {
    background-color: #1D1D1C !important;
}
nav.navbar.navbar-inverse {
    background-image: linear-gradient(to bottom,#5A5A58 0, #000000 100%);
}
.navbar-inverse .navbar-brand {
    color: #CF8511;
}
.navbar-inverse .navbar-nav>li>a {
    color: #CF8511 !important;
}
img.img.img-responsive:hover {
    opacity: 0.5;
}
button{
	background-color: #42403c !important; 
}
button:hover{
	background-color: #575552 !important;
}
