.panel
{
	background-color: rgba(255, 255, 255, 0);
	border-radius: 0px
}
a{
	color: #000000;
}
.panel-footer {
	background-color: rgba(255, 255, 255, 0);
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 3% !important;
    border-radius: 0;
}
.panel-primary {
    border-color: rgba(255, 255, 255, 0);
}

body{
	background-image:url(/bg-pattern.png);
}
i{
	color: #000000;
}

.panel:hover > .panel-footer{
	
}
.panel:hover  a{
	color: #B70000 !important;
}
.row.dropdown-menu {
    opacity: 0.8;
    background: #f5f5f5;
}
.navbar-inner.bg-success {
    background-color: #1d1d1c00 !important;
}
nav.navbar.navbar-inverse {
    background-image: -webkit-gradient(linear,left top,left bottom,from(#EEE),to(#E7E7E7));
    border-color: none !important;
}
.navbar-inverse .navbar-brand {
    color: #000000;
}
.navbar-inverse .navbar-nav>li>a {
    color: #000000 !important;
}
.navbar{
    border: none !important;
}
img.img.img-responsive:hover {
    opacity: 0.5;
}
button{
	background-color: #42403c !important; 
}
button:hover{
	background-color: #575552 !important;
}
